.card-list {
  margin: 0 auto;
  max-width: 50rem;
}

.card-title,
.card-subtitle {
  padding: 0;
  text-align: center;
  margin: 0 auto;
}

.card-header {
  grid-area: header;
  padding: 1em;
  margin: 0 auto;
  align-self: center;
}

.card-list ul {
  margin: 0 1em;
}

.card-list li {
  list-style: none;
  margin: 1em 0;
}

.card-list-card {
  background-color: var(--light-bg-color);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "image header"
    "image summary";
  /* height: 200px; */
}

@media screen and (max-width: 600px) {
  .card-list-card {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "summary"
      "image";
  }
}

.card-list a {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

.card-image {
  grid-area: image;
  background-color: black;
  border-style: none;
}

.card-image div {
  background-color: black;
  border-style: none;
}

.card-summary {
  grid-area: summary;
  padding: 1em;
  padding-top: 0;
  align-self: top;
}

.card-title {
  font-size: 2em;
}
