.category-page {
  min-height: var(--min-main-height);
}
.category-page h1 {
  text-align: center;
  padding-top: 2rem;
}

.category-page-body {
  text-align: center;
}

.category-page-title,
.category-page-body {
  color: var(--light-text-color);
}
