.gallery-list-page {
  z-index: 10;
  position: relative;
}

.gallery-list-page-body,
.gallery-list-page-list,
.gallery-list-page-title {
  z-index: 10;
  position: relative;
}

.gallery-list-page,
.gallery-list-page-title {
  color: var(--light-text-color);
}

.gallery-list-page-title {
}
