.gallery-list-page {
  min-height: var(--min-main-height);
  background-color: #faf2dc;
  color: var(--dark-text-color);
  background-image: linear-gradient(#faf2cc, #b9b396);
}

.gallery-list {
  padding-bottom: 2rem;
}

.gallery-list-page-title {
  color: var(--dark-heading-color);
}

.gallery-list-page-title {
  padding-top: 2rem;
}

.gallery-list-page-body {
  text-align: center;
}

.gallery-list ul {
  margin-left: 0px;
}
