.gallery-list-page {
  min-height: var(--min-main-height);
}

.gallery-list-page,
.gallery-list-page-title {
  color: var(--light-text-color);
}

.gallery-list-page-title {
  padding-top: 2rem;
}

.gallery-list-page-body {
  text-align: center;
}
