.post {
  max-width: var(--max-page-width);
  background-color: var(--light-bg-color);
  margin: 0 auto;
}

.post-header {
  padding: 2rem 2rem;
}

.post-body {
  max-width: var(--max-page-width);
  margin: 0 auto;
  background-color: var(--light-bg-color);
}
.post-body p {
  padding: 0 2rem;
  color: var(--dark-text-color);
}

.post-body h4 {
  padding: 0 2rem;
  color: var(--dark-heading-color);
}

.post-body figure {
  width: 100%;
}

.post-body figure img {
  width: 100%;
  display: block;
}

.post-body figure div {
  width: 100%;
}

.post-body figcaption {
  text-align: center;
}

.post-date {
  text-align: right;
  padding: 0 2rem;
}

.post-body .figure-image {
  position: relative;
}

.post-body figure .sticker {
  --sticker-margin: min(2vw, calc(var(--max-page-width) / 50));
  position: absolute;
  width: min(25vw, calc(var(--max-page-width) / 4));
  bottom: var(--sticker-margin);
  right: var(--sticker-margin);
}
.post-body figure .sticker img {
  display: block;
}
