.home-page {
  background-color: white;
  position: relative;
  height: calc(100vh - var(--header-height));
}

.home-page title {
  color: var(--light-text-color);
}

.home-page a {
  color: var(--light-text-color);
}
