.film-strip {
  --film-strip-image-width: 280px;
  --film-strip-image-height: calc(var(--film-strip-image-width) * 2 / 3);
  --hole-size: 16px;
  --film-strip-color: rgb(34, 22, 3);
  --text-color: rgb(255, 156, 50);
  width: calc(60vw + 50px);
  margin: 0 auto;
  opacity: 0.75;
  box-shadow: 0px 22px 70px 4px black;
  overflow: hidden;
  counter-reset: frame;
}

.film-strip-frame {
  /* width: 15vw; */
  /* height: 10vw; */
  width: var(--film-strip-image-width);
  height: var(--film-strip-image-height);
  position: relative;
}

.film-strip-frame::after {
  counter-increment: frame;
  content: counter(frame);
  position: absolute;
  bottom: -1.33em;
  right: 1em;
}

.film-strip li {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.film-strip ul {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.film-strip-title {
  /* text-align: center; */
  margin-left: 2em;
  margin-bottom: -15px !important;
  color: var(--text-color);
  text-transform: uppercase;
}

.film-strip-title,
.film-strip-frame:after {
  color: var(--text-color);
  font-size: 0.7em;
  font-family: "Averia Sans Libre";
  font-weight: 700;
  text-shadow: 0px 0px 5px red;
}

.film-strip-image {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  transition: opacity 300ms ease-in-out;
}

.film-strip:hover,
.film-strip:hover .film-strip-image {
  opacity: 1;
}

.film-strip {
  --background: var(--film-strip-color);
  background-image: linear-gradient(
      to right,
      var(--background) var(--hole-size),
      transparent var(--hole-size)
    ),
    linear-gradient(
      to bottom,
      var(--background) var(--hole-size),
      transparent var(--hole-size)
    ),
    linear-gradient(
      to right,
      var(--background) var(--hole-size),
      transparent var(--hole-size)
    ),
    linear-gradient(
      to bottom,
      var(--background) var(--hole-size),
      transparent var(--hole-size)
    ),
    linear-gradient(
      to bottom,
      transparent var(--hole-size),
      var(--background) var(--hole-size)
    );
  background-size: calc(var(--hole-size) * 2) var(--hole-size),
    calc(var(--hole-size) * 2) var(--hole-size),
    calc(var(--hole-size) * 2) var(--hole-size),
    calc(var(--hole-size) * 2) var(--hole-size),
    100% calc(100% - var(--hole-size) * 3);
  background-repeat: repeat-x;
  background-position: 0 var(--hole-size), top left,
    0 calc(100% - var(--hole-size)), bottom left, 0 var(--hole-size);
  padding: calc(var(--hole-size) * 3) 0;
  box-sizing: border-box;
}
