.gallery-list,
.gallery-list * {
  z-index: 10;
  position: relative;
}

.gallery-list ul {
  list-style: none;
}
.gallery-list li {
  cursor: pointer;
}

.gallery-list a {
  text-decoration: none;
}
