.social {
  margin: 0 2rem;
  padding: 1rem;
  border-style: solid none none none;
  border-color: var(--dark-text-color);
  border-width: 1px;
}

.social ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.social li {
  padding: 0px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social svg {
  fill: var(--dark-text-color) !important;
  stroke: var(--dark-text-color) !important;
  width: 32px !important;
  height: 32px !important;
  display: block;
  margin: 0;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.social svg:hover {
  transform: scale(1.1, 1.1);
  transition: transform 300ms ease-in-out 500ms;
}
