:root {
  --dark-heading-color: #070707;
  --dark-text-color: #545454;
  --light-text-color: white;
  --light-bg-color: #ffd0d8;
  --dark-bg-color: black;
  --accent-color: #65ffb4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-bg-color);
}

.post-body {
  max-width: 50rem;
  margin: 0 auto;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: var(--light-bg-color);
}

h1,
h2,
h3 {
  max-width: 50rem;
  margin: 0 auto;
  color: var(--dark-heading-color);
  text-align: center;
}

.post-header {
  padding: 2rem 2rem;
  max-width: 50rem;
  background-color: var(--light-bg-color);
  margin: 0 auto;
}

.post-body p {
  padding: 0 2rem;
  color: var(--dark-text-color);
}

.post-body h4 {
  padding: 0 2rem;
  color: var(--dark-heading-color);
}

.post-body figure {
  width: 100%;
}

.post-body figure img {
  width: 100%;
}

.post-body figure div {
  width: 100%;
}

.post-body figcaption {
  text-align: center;
}
